h1{
text-align: center;
border: 4px solid;
margin: 10.5px;
font-size: 50px;

}

.Panelists{
    color: rgb(255, 255, 255);
    margin: 50px 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    display: inline-block;  /* Wraps around images and text*/
    border: 4px solid;
    border-color: rgba(255, 255, 255, 0.808);
    text-decoration-line: underline;
    text-align: center;
    background: rgb(0, 0, 0);
    border-radius: 25px;
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(255, 254, 254, 0.849));
    
}

body {
    background-size:cover;
    background-image: url("Background.png");
    
    

}
.SJimage{
  border-radius:50px;

}
.credits {
  margin-top: 200px;
  padding: 30px;
  border-top: 0.3px solid black;
  text-align: center;
}

