body {
  background-color:rgba(0, 0, 0, 0);
  font-family: Arial, sans-serif;
  text-align: center;
  background-size: cover;
  background-image: url("Background.png");

}
.Video {
  width: 100%;
  height: 45vh;
  overflow: hidden;
  position: relative;
  filter: grayscale(1);
}

.Video iframe {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 177.77vh; /* 16:9 ratio trick */
  height: 100vh;

  transform: translate(-50%, -50%);
  border: 0;
  pointer-events: none;
}
h1 {
  color:rgb(0, 0, 0) !important;
  /*text-shadow: 2px 1px 10px rgb(123, 122, 124); */
  font-size:3.7em;
 /* background-color: rgba(0, 0, 0, 0);  This has no value atm.*/
  border-bottom: 2.5px solid black;
} 


nav {

border-bottom: 2.5px solid black;
padding: 5.0px;

}

.SJimage{
  border-radius:50px;

}

.PR {
color: #000000;
padding: 5.5px;
transition:background-color 0.4s;
font-family: 'Times New Roman', Times, serif;
font-size: 25px;
margin: 0px 20.0px;
border-radius: 10px;
text-shadow: 3px 3px 5px;


}
.PR:hover{

background-color: #bebebebe;


}

#sauce {

 width:150px;
  height:150px;
  border:0.2rem outset rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.726);

}

.p4{
color: rgb(248, 0, 136);
    background-color: rgba(0, 0, 0, 0.171);
    font-family: Georgia, 'Times New Roman', Times, serif;
    


  
} 

.p7 {

color: rgb(175, 31, 156);
    bacrgb(248, 132, 0)gba(0, 0, 0, 0.171);
    font-family: Georgia, 'Times New Roman', Times, serif;
background-color: rgba(0, 0, 0, 0.342);

}
.p5{
color: rgb(255, 238, 0);
    bacrgb(248, 132, 0)gba(0, 0, 0, 0.171);
    font-family: Georgia, 'Times New Roman', Times, serif;
background-color: rgba(0, 0, 0, 0.342);


} 

 /*li {
    padding: 5px;
    background-color: rgb(180, 180, 174);
    filter:brightness(1.2);
    border: 0.4rem outset rgb(0, 0, 0);
}
*/
iframe{
    border: 0.3rem outset rgb(117, 116, 116);
}

.p1{

    color: rgb(95, 95, 216);
    background-color: rgba(0, 0, 0, 0.171);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.p2{

    color: rgb(202, 21, 21);
    background-color: rgba(0, 0, 0, 0.171);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.p3{

color: rgb(37, 112, 14);
    background-color: rgba(0, 0, 0, 0.171);
    font-family: Georgia, 'Times New Roman', Times, serif;


}
.p6{

color: rgb(255, 0, 0);
    background-color: rgba(0, 0, 0, 0.171);
    font-family: Georgia, 'Times New Roman', Times, serif;


}
.p8 {

color: rgb(0, 225, 255);
    background-color: rgba(0, 0, 0, 0.534);
    font-family: Georgia, 'Times New Roman', Times, serif;


}
#A9{ 
  /*For A9's Photo within the tab hash tags are used to adjust Id's */
  width:150px;
  height:150px;
  border:0.2rem outset rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.726);
}
#X{ 
  /*For X's Photo within the tab hash tags are used to adjust Id's */
  width:150px;
  height:150px;
  border:0.2rem outset rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.726);
}

.top{

text-align: center;
    
}
.p9{

color: rgba(69, 11, 206, 0.801);
    background-color: rgba(0, 0, 0, 0.336);
    font-family: Georgia, 'Times New Roman', Times, serif;


}
.p10{

color: rgb(21, 255, 0);
    background-color: rgba(0, 0, 0, 0.534);
    font-family: Georgia, 'Times New Roman', Times, serif;


}
#Hoo{
  width:150px;
  height:150px;
  border:0.2rem outset rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.726);


}
.Tbutton{

  background-color:darkgreen;
  border-radius: 0px;
  box-shadow:
    inset 2px 2px 3px rgb(255 255 255 / 0.2),
    inset -2px -2px 3px rgb(0 0 0 / 0.2);

}

.credits {
  margin-top: 700px;
  padding: 30px;
  border-top: 0.3px solid black;
  text-align: center;

}
.NewsBoard {

  display: flex;

 

}
.TwitterSJU {



}










